div {
  margin-top:20px;
  border:3px solid #9991e6;
  background: #e7e6ff;
  padding:5px;
}
p {
  margin-left: 10px;
  position: relative;
  top: -15px;
}
div {
  width: 690px;
}
#peso{
  width:50px;
  margin-right:2px;
}
span{
  margin:-8px;
}
legend {
  background:white;
  position:relative;
  border:2px solid #9991e6;
  width:120px;
  font-weight: bold;
  top: -15px;
}
table {
  position: relative;
  top: -20px;
  border: 3px solid #9991e6;
  margin-left: 10px;
}
td, th {
  background: #e7e6ff;
  text-align: left;
}
